* { margin: 0; padding: 0; outline: 0; }

body {
    font-size: 12px;
    line-height: 18px;
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
    color: #383838;
    background: #3b3b3b url(images/body.png);
    margin: 0 auto;
}

#page {
    width: 60%;
    height: 80%;
    margin: 0 auto;

}

a { color: #0252aa; text-decoration: none; cursor: pointer; }
a:hover { text-decoration: underline; }
a img { border: 0; }

h2 { font-family: 'Georgia', Arial, serif; font-style: italic; font-size: 65px; line-height: 70px; color: #fff; }
h3 { font-family: 'Georgia', Arial, serif; font-style: italic; font-size: 22px; line-height: 24px; color: #0182b5; }
h4 { font-family: 'Georgia', Arial, serif; font-style: italic; font-size: 16px; line-height: 17px; color: #0871b3; font-weight: normal; }

input, textarea, select { font-size: 10px; font-family: arial, sans-serif; }
textarea { overflow: auto; }

.cl { display: block; height: 0; font-size: 0; line-height: 0; text-indent: -4000px; clear: both; }
.notext { font-size: 0; line-height: 0; text-indent: -4000px; }
.left, .alignleft { float: left; display: inline; }
.right, .alignright { float: right; display: inline; }

.shell { width: 90%; margin: 0 auto; background: url(images/shell.png) repeat-y 0 0; padding: 0 57px 0 57px; position: relative; }

#header { padding-top: 30px; }
#slider { height: 300px; position: relative; z-index: 10; }

#logo{
    height: 11.11%;
    width: 30%;
}

#cover-image {
    height: 33.33%;
    width: 90%;
}

#login-details { position: absolute; right: 60px; top: 16px; font-size: 12px; line-height: 16px; color: #707070; }
#login-details #user { color: #0182b5; text-decoration: underline; font-weight:bold; }
#login-details #user:hover { color: #000; text-decoration: underline; }
#login-details .sum { color: #0182b5; }
#login-details .sum:hover { text-decoration: none; color: #000; }
#login-details p { float: left; display: inline; }
#login-details .cart { float: left; display: inline; margin: 0 6px 0 12px; }
#login-details .cart img { display: block; }

/*#navigation { float: right; display: inline; font-family: 'Georgia', Arial, serif; font-size: 14px; line-height: 20px; padding: 24px 4px 23px 0; }
#navigation ul li { list-style: none; padding-left: 33px; float: left; display: inline; }
#navigation ul li a { color: #383838; }
#navigation ul li a.active { font-style: italic; font-weight: bold; text-decoration: none; cursor: default; }*/

/* Navigation Styling Start  */
#navigation ul,
#navigation li,
#navigation span,
#navigation a {
    border: 0;
    margin: 0;
    padding: 0;
    position: relative;
}
#navigation {
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background: #f2edea  100% 100%;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.15);
    background: -moz-linear-gradient(top, #f2edea 0%, #c0bebf 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f2edea), color-stop(100%, #c0bebf));
    background: -webkit-linear-gradient(top, #f2edea 0%, #c0bebf 100%);
    background: -o-linear-gradient(top, #f2edea 0%, #c0bebf 100%);
    background: -ms-linear-gradient(top, #f2edea 0%, #c0bebf 100%);
    background: linear-gradient(to bottom, #f2edea 0%, #c0bebf 100%);
    font-weight: 600;
    height: 60px;
    width: 90%;
}
#navigation:after,
#navigation ul:after {
    content: '';
    display: block;
    clear: both;
}
#navigation a {
    box-shadow: inset 0 1px 0 whitesmoke;
    -moz-box-shadow: inset 0 1px 0 whitesmoke;
    -webkit-box-shadow: inset 0 1px 0 whitesmoke;
    background: #f2edea 100% 100%;
    background: -moz-linear-gradient(top, #f2edea 0%, #c0bebf 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f2edea), color-stop(100%, #c0bebf));
    background: -webkit-linear-gradient(top, #f2edea 0%, #c0bebf 100%);
    background: -o-linear-gradient(top, #f2edea 0%, #c0bebf 100%);
    background: -ms-linear-gradient(top, #f2edea 0%, #c0bebf 100%);
    background: linear-gradient(to bottom, #f2edea 0%, #c0bebf 100%);
    color: #666666;
    display: inline-block;
    font-family: Arial, Verdana, sans-serif;
    font-size: 12px;
    line-height: 52px;
    padding: 0 28px;
    text-decoration: none;
}
#navigation ul {
    list-style: none;
    box-shadow: inset 0 1px 0 whitesmoke;
    -moz-box-shadow: inset 0 1px 0 whitesmoke;
    -webkit-box-shadow: inset 0 1px 0 whitesmoke;
}
#navigation > ul {
    float: left;
}
#navigation > ul > li {
    float: left;
}
#navigation > ul > li:first-child a {
    border-radius: 5px 0 0 5px;
    -moz-border-radius: 5px 0 0 5px;
    -webkit-border-radius: 5px 0 0 5px;
}
#navigation > ul > li.active a,
#navigation > ul > li:hover > a {
    box-shadow: inset 0 -2px 3px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: inset 0 -2px 3px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: inset 0 -2px 3px rgba(0, 0, 0, 0.15);
    color: white;
    background: #4a5662 ;
    background: -moz-linear-gradient(top, #4a5662 0%, #606f7f 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #4a5662), color-stop(100%, #606f7f));
    background: -webkit-linear-gradient(top, #4a5662 0%, #606f7f 100%);
    background: -o-linear-gradient(top, #4a5662 0%, #606f7f 100%);
    background: -ms-linear-gradient(top, #4a5662 0%, #606f7f 100%);
    background: linear-gradient(to bottom, #4a5662 0%, #606f7f 100%);
}

/* Style for sub-menu if required */
/*#cssmenu .has-sub {
    z-index: 1;
}
#cssmenu .has-sub:hover > ul {
    display: block;
}
#cssmenu .has-sub ul {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    display: none;
    position: absolute;
    width: 200px;
    top: 100%;
    left: 0;
}
#cssmenu .has-sub ul li a {
    background: #606f7f;
    border-bottom: 1px solid #59636f;
    border-bottom: 1px solid #556371;
    box-shadow: inset 0 1px 0 #606f7f;
    -moz-box-shadow: inset 0 1px 0 #606f7f;
    -webkit-box-shadow: inset 0 1px 0 #606f7f;
    color: white;
    display: block;
    line-height: 160%;
    padding: 15px 10px;
    font-size: 12px;
}
#cssmenu .has-sub ul li:hover a {
    background: #4a5662;
    box-shadow: inset 0 0 3px 1px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: inset 0 0 3px 1px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: inset 0 0 3px 1px rgba(0, 0, 0, 0.15);
}
#cssmenu .has-sub .has-sub:hover > ul {
    display: block;
}
#cssmenu .has-sub .has-sub ul {
    display: none;
    position: absolute;
    left: 100%;
    top: 0;
}
#cssmenu .has-sub .has-sub ul li a {
    background: #606f7f;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}
#cssmenu .has-sub .has-sub ul li a:hover {
    background: #4a5662;
    box-shadow: inset 0 0 3px 1px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: inset 0 0 3px 1px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: inset 0 0 3px 1px rgba(0, 0, 0, 0.15);
}*/
/* Navigation Styling End  */

#main { padding-top: 51px; padding-bottom: 41px; z-index: 1; }

#sidebarone { float: left; display: inline; width: 20%; padding: 6px 0; }
#sidebartwo { float: left; display: inline; width: 20%; padding: 6px 0 0 20px; }
.sidebar h4 { border-bottom: solid 4px #eaeaea; padding: 0 0 8px 1px; }

.sidebar .categories { list-style: none; }
.sidebar .categories ul { padding: 8px 0 29px; list-style: none; line-height: 24px; font-size: 12px; color: #929292; }
.sidebar .categories ul li { border-bottom: solid 1px #d8d8d8; background: url(images/list-image.png) no-repeat 0 center; padding-left: 18px; }
.sidebar .categories ul li a { color: #929292; }

#content { padding-left:30px; float: left; display: inline; width: 50%; }
#content h3 { padding: 0 0 7px 0px; border-bottom: solid 4px #eaeaea; margin-bottom: 12px; }

.products ul { list-style: none; position: relative; width: 100%; }
.products ul li { float: left; display: inline; width:25%; height: 30%; margin: 0 3%; }
.products ul li a.info { display: block;  width: 100%; height: 80%; }
.products ul li a.info:hover { background: url(images/product-hover.png) no-repeat 0 0; text-decoration: none; }
.products ul li a.info .holder { border: solid 1px #dcdcdc; display: block; }
.products .product { width: 100%; position: relative; }
.products img { width: 100%; height: 100%; }
.product .buy-btn { position: absolute; background: url(images/buy-btn.png) repeat-x 0 0; width:100%; height: 20%; color: #fff; font-size: 12px; line-height: 31px; text-transform: uppercase; font-weight: bold; z-index: 10; white-space: nowrap;}
.product .buy-btn:hover { text-decoration: none; }
.product .buy-btn .price {  background: url(images/price.png) repeat-x 0 0; font-size: 22px; line-height: 29px; position: absolute; top: 0; right: 0; height: 100%; }
.product .buy-btn .price .low { font-size: 14px; vertical-align: baseline; }
.product .buy-btn .price .high { font-size: 11px; line-height: 14px; vertical-align: super; }

.product .book-name { font-size: 12px; line-height: 20px; color: #0182b5; font-family: 'Georgia', Arial, serif; display: block; }
.product .author { font-size: 11px; line-height: 14px; color: #3d3d3d; font-family: 'Georgia', Arial, serif; padding: 0 0 9px 1px; display: block; }
.product .description { font-size: 11px; line-height: 16px; color: #878787; }





.menu-image {
    float: left;
    margin-top:5px !important;
    padding-right: 5px !important;
}