* { margin: 0; padding: 0; outline: 0; }

body {
    font-size: 0.75em;
    line-height: 1.5em;
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
    color: #383838;
    background: #3b3b3b url(images/body.png);

}

#page {
    margin: 0 auto;
    width: 63%;
    height: 100%;
}

a { color: #0252aa; text-decoration: none; cursor: pointer; }
a:hover { text-decoration: underline; }
a img { border: 0; }

h2 { font-family: 'Georgia', Arial, serif; font-style: italic; font-size: 4.05em; line-height: 4.375em; color: #fff; }
h3 { font-family: 'Georgia', Arial, serif; font-style: italic; font-size: 1.375em; line-height: 1.5em; color: #0182b5; }
h4 { font-family: 'Georgia', Arial, serif; font-style: italic; font-size: 1em; line-height: 1.1em; color: #0871b3; font-weight: normal; }

input, textarea, select { font-size: 10px; font-family: arial, sans-serif; }
textarea { overflow: auto; }

.cl { display: block; height: 0; font-size: 0; line-height: 0;  clear: both; }

.left, .alignleft { float: left; display: inline; }
.right, .alignright { float: right; display: inline; }

.shell { width: 90%; margin: 0 auto; background: url(images/shell.png) repeat-y 0 0; padding: 0% 5.7%; position: relative; }

#header { padding-top: 3.3333%; height: 20% }
#slider { height: 20%; position: relative; z-index: 10; }

#logo{
    height: 11.11%;
    width: 30%;
}

#cover-image {
    /*height: 20%;
    width: 100%;*/
    max-width:100%;
    max-height:100%;
}

#login-details { position: absolute; right: 10%; top: 10%; font-size: 0.75em; line-height: 1em; color: #707070; }
#login-details #user { color: #0182b5; text-decoration: underline; font-weight:bold; }
#login-details #user:hover { color: #000; text-decoration: underline; }
#login-details .sum { color: #0182b5; }
#login-details .sum:hover { text-decoration: none; color: #000; }
#login-details p { float: left; display: inline; }
#login-details .cart { float: left; display: inline; margin: 0 0.375em 0 0.75em; }
#login-details .cart img { display: block; }

/*#navigation { float: right; display: inline; font-family: 'Georgia', Arial, serif; font-size: 14px; line-height: 20px; padding: 24px 4px 23px 0; }
#navigation ul li { list-style: none; padding-left: 33px; float: left; display: inline; }
#navigation ul li a { color: #383838; }
#navigation ul li a.active { font-style: italic; font-weight: bold; text-decoration: none; cursor: default; }*/

/* Navigation Styling Start  */
#navigation ul,
#navigation li,
#navigation span,
#navigation a {
    border: 0;
    margin: 0;
    padding: 0;
    position: relative;
}
#navigation {
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.15);
    font-weight: 600;
    height: 20%;
    width: 100%;
}

#navigation a {
    box-shadow: inset 0 1px 0 whitesmoke;
    -moz-box-shadow: inset 0 1px 0 whitesmoke;
    -webkit-box-shadow: inset 0 1px 0 whitesmoke;
    background: #f2edea 100% 100%;
    background: -moz-linear-gradient(top, #f2edea 0%, #c0bebf 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f2edea), color-stop(100%, #c0bebf));
    background: -webkit-linear-gradient(top, #f2edea 0%, #c0bebf 100%);
    background: -o-linear-gradient(top, #f2edea 0%, #c0bebf 100%);
    background: -ms-linear-gradient(top, #f2edea 0%, #c0bebf 100%);
    background: linear-gradient(to bottom, #f2edea 0%, #c0bebf 100%);
    color: #666666;
    display: inline-block;
    font-family: Arial, Verdana, sans-serif;
    font-size: 1em;
    line-height: 4em;
    padding: 0 2.5em;
    text-decoration: none;

}
#navigation ul {
    list-style: none;
    box-shadow: inset 0 1px 0 whitesmoke;
    -moz-box-shadow: inset 0 1px 0 whitesmoke;
    -webkit-box-shadow: inset 0 1px 0 whitesmoke;
}
#navigation > ul {
    float: left;
}
#navigation > ul > li {
    float: left;
}

#navigation > ul > li.active a,
#navigation > ul > li:hover > a {
    box-shadow: inset 0 -2px 3px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: inset 0 -2px 3px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: inset 0 -2px 3px rgba(0, 0, 0, 0.15);
    color: white;
    background: #4a5662 ;
    background: -moz-linear-gradient(top, #4a5662 0%, #606f7f 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #4a5662), color-stop(100%, #606f7f));
    background: -webkit-linear-gradient(top, #4a5662 0%, #606f7f 100%);
    background: -o-linear-gradient(top, #4a5662 0%, #606f7f 100%);
    background: -ms-linear-gradient(top, #4a5662 0%, #606f7f 100%);
    background: linear-gradient(to bottom, #4a5662 0%, #606f7f 100%);
}


/* Navigation Styling End  */

#main { padding-top: 5.5%; padding-bottom: 4.4%; z-index: 1; }

#sidebarone { float: left; display: inline; width: 20%; padding: 0.7% 0; }
#sidebartwo { float: left; display: inline; width: 20%; padding: 0.7% 0 0 2.2222%; }
.sidebar h4 { border-bottom: solid 4px #eaeaea; padding: 0 0 8% 1%; }

.sidebar .categories { list-style: none; }
.sidebar .categories ul { padding: 0.5em 0 1.8em; list-style: none; line-height: 1.5em; font-size: 0.8em; color: #929292; }
.sidebar .categories ul li { border-bottom: solid 1px #d8d8d8; background: url(images/list-image.png) no-repeat 0 center; padding-left: 1.2em; }
.sidebar .categories ul li a { color: #929292; }

#content { padding-left:3.3333%; float: left; display: inline; width: 50%; height: 40% }
#content h3 { padding: 0 0 1.5% 0; border-bottom: solid 0.25em #eaeaea; margin-bottom: 1em; }

.products ul { list-style: none; position: relative; width: 100%; }
.products ul li { float: left; display: inline; width:25%; height: 30%; margin: 0 3%; }
.products ul li a.info { display: block;  width: 100%; height: 80%; }
.products ul li a.info:hover { background: url(images/product-hover.png) no-repeat 0 0; text-decoration: none; }
.products ul li a.info .holder { border: solid 1px #dcdcdc; display: block; }
.products .product { width: 100%; position: relative; }
.products img { width: 100%; height: 100%; }
.product .buy-btn { position: absolute; background: url(images/buy-btn.png) repeat-x 0 0; width:100%; height: 20%; color: #fff; font-size: 12px; line-height: 31px; text-transform: uppercase; font-weight: bold; z-index: 10; white-space: nowrap;}




.product .description { font-size: 1em; line-height: 1.7777%; color: #878787; width: 100%; word-wrap: break-word;}

/* Footer Start */

#footer { width: 90%;  color: #c7e6f2; }
#footer h4 { font-size: 1em; line-height: 1.125em; color: #57b4d9; border-bottom: solid 0.25em #57b4d9; margin-bottom: 0.5%; padding-bottom: 0.5% }
#footer p{ color: #57b4d9;  word-wrap: break-word;}
#footer .col p {text-align: justify;}
#cr {text-align: center;!important;}
#footer .copy { color: #78b8d2; font-size: 1em; line-height: 1.2em;  position: relative; width: 100%; text-align: center; }
#footer .col { float: left; display: inline; }

/* Footer End */

.menu-image img{
    width: 1em;
    height: 1em;
}


.menu-image {
    float: left;
    padding-right: 0.4em     !important;
}